<!-- contenu dans un row et une colonne pour limiter la largeur -->
<div class="container">
	<div class="row">
		<div class="col-6 mx-auto">

			<!-- Titre de l'event -->
			<h2 class="card-title text-center m-4">	<%= @event.title %></h2>

			<!-- ########### partie event ########### -->


		</div>
	</div>
</div>